<tr>
  <td> 1 </td>
  <td><%= @trap.name %></td>
  <td><%= @trap.created_at.strftime("%F %T") %></td>
  <td><%= link_to 'Go to', trap_path(@trap.name) %></td>
</tr>
<script type="text/javascript">
    $('tr').mouseover(function() {
        $(this).addClass('focused');
    });
    $('tr').mouseleave(function() {
        $(this).removeClass('focused');
    });
</script>